<div class="row">
  <div class="col-md-3">
    <div class="card-counter info">
      <i class="far fa-truck"></i>
      <span class="count-numbers">{{db1.length}}</span>
      <span class="count-name">Suppliers</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter info">
      <i class="fal fa-list-ol"></i>
      <span class="count-numbers">{{db2.length}}</span>
      <span class="count-name">Products</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter info">
      <i class="fas fa-file-invoice-dollar"></i>
      <span class="count-numbers">{{db3.length}}</span>
      <span class="count-name">Invoices</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card-counter info">
      <i class="fa fa-users"></i>
      <span class="count-numbers">{{db4.length}}</span>
      <span class="count-name">Customers</span>
    </div>
  </div>

</div>
<h1 align="center"></h1>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>#Ticket</th>
        <th>Date</th>
        <th>To</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each db5}}
        <tr>
          <td>{{id}}</td>
          <td>{{date}}</td>
          <td>{{to}}</td>
          <td>{{total}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>