<div align="center">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/public/images/invoice.jpg" />

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Date:</b> {{date}}</li>
      <li class="list-group-item"><b>To:</b> {{to}}</li>
      <li class="list-group-item"><b>Payment:</b> {{payment}}</li>
      <li class="list-group-item"><b>Quantity:</b> {{quantity}}</li>
      <li class="list-group-item"><b>Description:</b> {{description}}</li>
      <li class="list-group-item"><b>Total:</b> {{total}}</li>

    </ul>

  </div>
</div>