<div align="center">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{picture}}" />

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Name:</b> {{name}}</li>
      <li class="list-group-item"><b>Category:</b> {{category}}</li>
      <li class="list-group-item"><b>Description:</b> {{description}}</li>
      <li class="list-group-item"><b>Price:</b> {{price}}</li>
    </ul>

  </div>
</div>